.todo-item {
    cursor: pointer;
}

.todo-item-toggled {
    text-decoration: line-through;
    
}

.btn-style {
    background: rgb(213, 163, 25);
  color: rgb(255, 255, 255);
  padding: 3px 10px;
  margin: 0 0 0 15px;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}